/* Card box styles */
.card-box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 20em;
    max-width: 20em;
    /* padding: 1px 0px; */
  }
  .card-image{
    padding-top: 10px;
  }
  .card-image img{
    width: 200px;
    height: 200px;
  }
  /* Card content styles */
  .card-content{
    margin: 20px 0px;
  }
  .card-content p{
    font-size: 1.3em;
    width: 12em;
    text-align: left;
    margin: 5px auto;
    /* color: rgb(9, 139, 190) */
  }
  .card-content h3{
    /* width: 45em; */
    text-align: left;
    font-size: 1.5em;
    padding: 5px 35px;
    color: rgb(24, 85, 59);
  }
  .card-content button{
    margin: 10px 0px 0px;
    font-size: 1.4em;
    padding: 10px 0px;
    width: 10em;
    border: none;
    border-radius: 5px;
    background-color:  rgb(9, 139, 190);
    color: white;
  }