
/* Home container styles */
.home-container {
  display: flex;
}
/* Content container styles here */
.content-container {
  margin: 30px auto;
  width: 70vw;
}

/* Card container styles */
.card-container{
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2em;
  border-radius: 10px;
}













