/* Sidebar container styles */
.sidebar-container {
    min-width: 16vw;
    max-width: 18vw;
    background-color: rgba(128, 128, 128, 0.3);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    min-height: 49vh;
    max-height: 45vh;
    /* text-align: center; */
    margin-top: 7em;
    position: sticky;
    top: 30.7%;
  }
  /* Sidebar filter range styles */
  .sidebar-container #filter {
    margin: 20px 0 10px;
    text-align: center;
  }
  .sidebar-container #filter h2 {
    margin-bottom: 10px;
    font-size: 1.7em;
    font-weight: bold;
    color: #284c54;
  }
  .sidebar-container #filter p {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  .sidebar-container #filter input {
    width: 14em;
  }
  
  /* sidebar checkbox styles  */
  .sidebar-container #filter-checkbox {
    padding: 0px 34px;
    text-align: center;
  }
  .sidebar-container #filter-checkbox h2 {
    font-size: 1.7em;
    font-weight: bold;
    color: #284c54;
    margin-bottom: 10px;
  }
  .sidebar-container #filter-checkbox label {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 1.2em;
  }
  .sidebar-container #filter-checkbox label input {
    margin-right: 10px;
  }
  .sidebar-container #filter-checkbox label input[type="checkbox"] {
    width: 17px;
    height: 17px;
  }